/* 黄色高亮 */
mark {
    background-color: #876c02;
    color: inherit;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2px;
    border-radius: 2px;
    font-size: medium;
    font-weight: bolder;
}

/* 绿色下划线 */
ins {
    /* background-color: #57cd90; */
    padding: 2px;
    text-decoration: solid rgb(60, 205, 60) underline;
    text-decoration-thickness: 3px;
}

/* 红色文字 */
.text-red {
    color: #ef4444;
    font-weight: 600;
}

/* 蓝色文字 */
.text-blue {
    color: #3b82f6;
    font-weight: 600;
}

/* 自定义快速 */

.zzq-center{
    display: flex;
    justify-content: center;
}

